.progress-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  height: 25px;
  overflow: hidden;
}

.bar {
  height: 100%;
  width: 0%;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out;
}
#phase1,#phase2{
  display: none;
}